.dn {
	display: none;
}
.dg {
	display: grid;
}
.spin {
	animation: rotate 2s linear infinite;
}
[spinner] {
	fill: var(--a);
	height: 5rem;
	left: 50%;
	position: fixed;
	top: 40%;
	translate: -50% -50%;
	z-index: 9;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
