:root {
	--a: hsl(var(--basehue) 75% calc(var(--text-l) * 2));
	--basehue: 220;
	--bg-button-hover: hsl(var(--basehue) 75% calc(var(--bg-l) / 1.25));
	--bg-button: hsl(var(--basehue) 50% calc(var(--bg-l) / 1.125));
	--bg-l: 95%;
	--bg-menu: hsl(var(--basehue) 10% calc(var(--bg-l) - 5%) / 0.75);
	--block-p: 1vh 2vw;
	--c: hsl(var(--basehue) 5% var(--text-l) / 0.85);
	--eio: cubic-bezier(.65,.05,.36,1);
	--h-l: 50%;
	--ms: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--ss: -apple-system, Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--text-l: 20%;
	@media (prefers-color-scheme: dark) {
		--a: hsl(var(--basehue) 50% calc(var(--text-l) / 1.5));
		--bg-button: hsl(var(--basehue) 25% calc(var(--bg-l) * 2));
		--bg-button-hover: hsl(var(--basehue) 50% calc(var(--bg-l) * 2.5));
		--bg-l: 10%;
		--bg-menu: hsl(var(--basehue) 10% calc(var(--bg-l) + 5%) / 0.75);
		--h-l: 75%;
		--text-l: 75%;
	}
}
*, ::after, ::before {
	box-sizing: border-box;
}
html {
	&[theme=light] {
		--a: hsl(var(--basehue) 75% calc(var(--text-l) * 2));
		--bg-button: hsl(var(--basehue) 50% calc(var(--bg-l) / 1.25));
		--bg-button-hover: hsl(var(--basehue) 75% calc(var(--bg-l) / 1.25));
		--bg-l: 95%;
		--bg-menu: hsl(var(--basehue) 10% calc(var(--bg-l) - 5%) / 0.75);
		--h-l: 50%;
		--text-l: 20%;
	}
	&[theme=dark] {
		--a: hsl(var(--basehue) 50% calc(var(--text-l) / 1.5));
		--bg-button: hsl(var(--basehue) 25% calc(var(--bg-l) * 2));
		--bg-button-hover: hsl(var(--basehue) 50% calc(var(--bg-l) * 2.5));
		--bg-l: 10%;
		--bg-menu: hsl(var(--basehue) 10% calc(var(--bg-l) + 5%) / 0.75);
		--h-l: 75%;
		--text-l: 75%;
	}
}
body {
	background: hsl(var(--basehue) 15% var(--bg-l));
	color: var(--c);
	font-family: var(--ss);
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
	font-weight: 200;
	margin: 0;
	padding: 0;
}
[x-cloak] {
	display: none;
}
svg {
	aspect-ratio: 1;
	height: 1rem;
}
a {
	color: var(--a);
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	margin: 0 0 0.5em;
	padding: 0;
	a {
		color: hsl(var(--basehue) 5% var(--text-l) / 0.75);
	}
}
h1 {
	font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
}
h2 {
	font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}
h3 {
	font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}
h4 {
	font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
h5 {
	font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}
h6 {
	font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}
main {
	padding: var(--block-p);
}
footer {
	padding: var(--block-p);
}
iframe {
	border: none;
	border-radius: 0.25rem;
	height: 50vh;
	margin-bottom: 2rem;
	width: 100%;
}
.loading {
	filter: blur(0.1rem) opacity(0.5);
}
[icon] {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0.5rem;
	svg {
		background: hsl(var(--basehue) 25% 50% / 0.75);
		border-radius: 5rem;
		padding: 0.5rem;
	}
}
.hljs {
	border-radius: 0.5rem;
}
[themeswitch] {
	align-items: center;
	background: hsl(0 0% 50% / 0.5);
	border-radius: 5rem;
	cursor: pointer;
	display: flex;
	height: 1.5rem;
	justify-items: center;
	justify-self: end;
	line-height: 1;
	padding: 0.25rem;
	place-content: center;
	text-align: center;
	transition: all 0.25s var(--eio);
	width: 1.5rem;
	svg {
		cursor: pointer;
		fill: gold;
		height: 1.25rem;
		transition: all 0.125s var(--eio);
	}
	&:hover {
		scale: 1.25;
		svg {
			filter: brightness(1.125);
			scale: 1.125;
		}
	}
}
[aria-label][role~="tooltip"]::after {
	background: hsl(50 50% 50% / 0.95);
	color: #0009;
	font-family: var(--ss);
	padding: 0.25rem 0.5rem;
}
[role~="tooltip"][data-microtip-position="top"]:hover::before,
[role~="tooltip"][data-microtip-position="top"]:hover::after {
	transform: translate3d(-50%, 0, 0);
}
[role~="tooltip"][data-microtip-position="left"]::after {
	margin-right: 10.5px;
}
[aria-label][role~="tooltip"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22hsl%2850%2050%25%2050%25%20%2F%200.95%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
}
[role~="tooltip"][data-microtip-position|="bottom"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22hsl%2850%2050%25%2050%25%20%2F%200.95%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
}
[role~="tooltip"][data-microtip-position="left"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22hsl%2850%2050%25%2050%25%20%2F%200.95%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
}
[role~="tooltip"][data-microtip-position="right"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22hsl%2850%2050%25%2050%25%20%2F%200.95%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
}
@import 'form';
@import 'utils';
@import 'anim';
